{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>

h3 {
    font-size: 15px;
}

#w{
    color: blueviolet;
}

#l{
    color: grey;
    padding-left: 80px;
}

</style> 

<h1>Text Chat</h1>
<br/>
<h3>Enter chat and hit Send</h3> 

<form method="POST" action="{% url 'send' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input id=input name="text" id="text" placeholder="Your Message..." />
    <button class="btn btn-primary btn-sm" type="submit">Send</button>
</form>

Chat Output

{% for text in texts.all %}
    
    <div id=box>

        <span id="w">{{text.member}}</span> : {{text.text}}   <span id="l">{{text.time}}</span>

    </div>

{% endfor %}


<script>
    function setFocusToTextBox(){
    document.getElementById("text").focus();
    }
    setTimeout(function(){
    window.location.reload(5);
    }, 5000);
</script>


{% endblock %}
